.home-container {
  padding: 40px;
  text-align: center;
}

.welcome-box {
  margin-bottom: 30px;
}

h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px;
}

.role {
  font-size: 16px;
  color: #666;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.btn {
  padding: 14px 28px;
  background: #0a3d62;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}

.btn:hover {
  background: #07405f;
}

.btn.admin {
  background: #b71540;
}

.btn.admin:hover {
  background: #a31338;
}
.logout-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 26px;
  cursor: pointer;
  transition: 0.2s;
}

.logout-icon:hover {
  opacity: 0.7;
}
