<div class="upload-wrapper">
  <div class="upload-card">

        <img src="/assets/FLORA.png" alt="Flora Group Logo" class="logo" /> 

    <h2>Upload File</h2>
    <p class="subtitle">Select a file and add optional tags</p>


    <div class="drop-zone" (drop)="onDrop($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)"
      [class.dragging]="isDragging">
      <ng-container *ngIf="!selectedFile">
        <p>Drag & Drop file here</p>
        <p>or</p>
        <p>Click below to select</p>
      </ng-container>

      <ng-container *ngIf="selectedFile">
        <p class="selected-file">Selected: {{ selectedFile.name }}</p>
      </ng-container>
    </div>


    <input type="file" (change)="onFileSelected($event)" class="file-input" />


    <input type="text" placeholder="Tags (optional)" [(ngModel)]="tags" class="tag-input" />



    <button class="upload-btn" [disabled]="!selectedFile || progress > 0" (click)="uploadFile()">
      {{ progress > 0 ? 'Uploading...' : 'Upload' }}
    </button>

    <div *ngIf="progress > 0" class="progress-bar">
      <div class="progress" [style.width.%]="progress"></div>
    </div>

    <p *ngIf="message" class="message" [ngClass]="messageType">
      <span *ngIf="messageType === 'success'">✔️</span>
      <span *ngIf="messageType === 'error'">❌</span>
      {{ message }}
    </p>
  </div>
</div>