<nav class="navbar" *ngIf="isLoggedIn">
  <div class="container">
    <a class="navbar-brand" routerLink="/"> Flora Group</a>

    <ul class="nav-links">
      <li><a routerLink="/file-list">Files</a></li>
      <li><a routerLink="/upload">Upload</a></li>
      <li *ngIf="isAdmin"><a routerLink="/admin">Admin</a></li>
    </ul>

    <div class="user-info">
      <span class="username">👤 {{ currentUser?.username }}</span>
      <button class="btn-logout" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>


 